<template>
<v-container fluid class="grey lighten-5">
  <v-layout row wrap>
      <v-card raised>
    <v-card-title>
      Form 471: Basic Info
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="items"
      :search="search"
    >
      <template slot="items" slot-scope="props">
        <td class="justify-center layout px-0"><v-btn icon slot="activator" :href="props.item.file_url"><v-icon large>cloud_download</v-icon></v-btn></td>
        <td class="text-xs-right">{{ props.item.application_number }}</td>
        <td class="text-xs-right">{{ props.item.funding_year }}</td>
        <td class="text-xs-right">{{ props.item.org_state }}</td>
        <td class="text-xs-right">{{ props.item.form_version }}</td>
        <td class="text-xs-right">{{ props.item.is_certified_in_window }}</td>
        <td class="text-xs-right">{{ props.item.nickname }}</td>
        <td class="text-xs-right">{{ props.item.form_471_status_name }}</td>
        <td class="text-xs-right">{{ props.item.chosen_category_of_service }}</td>
        <td class="text-xs-right">{{ props.item.organization_name }}</td>
        <td class="text-xs-right">{{ props.item.org_address1 }}</td>
        <td class="text-xs-right">{{ props.item.org_address2 }}</td>
        <td class="text-xs-right">{{ props.item.org_city }}</td>
        <td class="text-xs-right">{{ props.item.org_zipcode }}</td>
        <td class="text-xs-right">{{ props.item.org_zipcode_ext }}</td>
        <td class="text-xs-right">{{ props.item.org_phone }}</td>
        <td class="text-xs-right">{{ props.item.org_phone_ext }}</td>
        <td class="text-xs-right">{{ props.item.org_email }}</td>
        <td class="text-xs-right">{{ props.item.epc_organization_id }}</td>
        <td class="text-xs-right">{{ props.item.fcc_registration_number }}</td>
        <td class="text-xs-right">{{ props.item.organization_entity_type_name }}</td>
        <td class="text-xs-right">{{ props.item.cnct_first_name }}</td>
        <td class="text-xs-right">{{ props.item.cnct_middle_initial }}</td>
        <td class="text-xs-right">{{ props.item.cnct_last_name }}</td>
        <td class="text-xs-right">{{ props.item.cnct_email }}</td>
        <td class="text-xs-right">{{ props.item.cnct_phone }}</td>
        <td class="text-xs-right">{{ props.item.cnct_phone_extension }}</td>
        <td class="text-xs-right">{{ props.item.aut_first_name }}</td>
        <td class="text-xs-right">{{ props.item.aut_middle_initial }}</td>
        <td class="text-xs-right">{{ props.item.aut_last_name }}</td>
        <td class="text-xs-right">{{ props.item.aut_title }}</td>
        <td class="text-xs-right">{{ props.item.aut_employer }}</td>
        <td class="text-xs-right">{{ props.item.aut_address1 }}</td>
        <td class="text-xs-right">{{ props.item.aut_address2 }}</td>
        <td class="text-xs-right">{{ props.item.aut_city }}</td>
        <td class="text-xs-right">{{ props.item.aut_state }}</td>
        <td class="text-xs-right">{{ props.item.aut_zipcode }}</td>
        <td class="text-xs-right">{{ props.item.aut_zipcode_ext }}</td>
        <td class="text-xs-right">{{ props.item.aut_phone }}</td>
        <td class="text-xs-right">{{ props.item.aut_phone_ext }}</td>
        <td class="text-xs-right">{{ props.item.aut_email }}</td>
        <td class="text-xs-right">{{ props.item.certified_datetime }}</td>
        <td class="text-xs-right">{{ props.item.full_time_students }}</td>
        <td class="text-xs-right">{{ props.item.total_eligible_nslp_students }}</td>
        <td class="text-xs-right">{{ props.item.nslp_percentage }}</td>
        <td class="text-xs-right">{{ props.item.is_urban }}</td>
        <td class="text-xs-right">{{ props.item.c1_discount }}</td>
        <td class="text-xs-right">{{ props.item.c2_discount }}</td>
        <td class="text-xs-right">{{ props.item.c1_voice_discount }}</td>
        <td class="text-xs-right">{{ props.item.pre_discount_eligible_amount }}</td>
        <td class="text-xs-right">{{ props.item.funding_request_amount }}</td>
        <td class="text-xs-right">{{ props.item.non_discount_share }}</td>
        <td class="text-xs-right">{{ props.item.receiving_funds_directly }}</td>
        <td class="text-xs-right">{{ props.item.has_service_provider_listed }}</td>
        <td class="text-xs-right">{{ props.item.last_modified_timestamp }}</td>
        <td class="text-xs-right">{{ props.item.latitude }}</td>
        <td class="text-xs-right">{{ props.item.longitude }}</td>
        <td class="text-xs-right">{{ props.item.congressional_district }}</td>
      </template>
      <template slot="no-data">
      <v-alert :value="true" color="error" icon="warning">
        Sorry, nothing to display here :(
      </v-alert>
    </template>
      <v-alert slot="no-results" :value="true" color="error" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
    </v-data-table>
  </v-card>
  </v-layout>
  </v-container>
</template>

<script>
import axios from 'axios'

export default {
  props: ['ben'],
  data: () => ({
    items: [],
    search: '',
    headers: [
      { text: 'File', value: 'file_url' },
      { text: 'Application Number', value: 'application_number' },
      { text: 'Funding Year', value: 'funding_year' },
      { text: 'Billed Entity State', value: 'org_state' },
      { text: 'Form Version', value: 'form_version' },
      { text: 'Window Status', value: 'is_certified_in_window' },
      { text: 'Nickname', value: 'nickname' },
      { text: 'Status', value: 'form_471_status_name' },
      { text: 'Categories of Service', value: 'chosen_category_of_service' },
      { text: 'Organization Name', value: 'organization_name' },
      { text: 'Billed Entity Address1', value: 'org_address1' },
      { text: 'Billed Entity Address2', value: 'org_address2' },
      { text: 'Billed Entity City', value: 'org_city' },
      { text: 'Billed Entity Zip Code', value: 'org_zipcode' },
      { text: 'Billed Entity Zip Code Ext', value: 'org_zipcode_ext' },
      { text: 'Billed Entity Phone', value: 'org_phone' },
      { text: 'Billed Entity Phone Ext', value: 'org_phone_ext' },
      { text: 'Billed Entity Email', value: 'org_email' },
      { text: 'Billed Entity Number', value: 'epc_organization_id' },
      { text: 'FCC Registration Number', value: 'fcc_registration_number' },
      { text: 'Applicant Type', value: 'organization_entity_type_name' },
      { text: 'Contact First Name', value: 'cnct_first_name' },
      { text: 'Contact Middle Initial', value: 'cnct_middle_initial' },
      { text: 'Contact Last Name', value: 'cnct_last_name' },
      { text: 'Contact Email', value: 'cnct_email' },
      { text: 'Contact Phone Number', value: 'cnct_phone' },
      { text: 'Contact Phone Ext', value: 'cnct_phone_extension' },
      { text: 'Authorized First Name', value: 'aut_first_name' },
      { text: 'Authorized Middle Name', value: 'aut_middle_initial' },
      { text: 'Authorized Last Name', value: 'aut_last_name' },
      { text: 'Authorized Title', value: 'aut_title' },
      { text: 'Authorized Employer', value: 'aut_employer' },
      { text: 'Authorized Address Line 1', value: 'aut_address1' },
      { text: 'Authorized Address Line 2', value: 'aut_address2' },
      { text: 'Authorized City', value: 'aut_city' },
      { text: 'Authorized State', value: 'aut_state' },
      { text: 'Authorized Zip Code', value: 'aut_zipcode' },
      { text: 'Authorized Zip Code Ext', value: 'aut_zipcode_ext' },
      { text: 'Authorized Phone', value: 'aut_phone' },
      { text: 'Authorized Phone Extension', value: 'aut_phone_ext' },
      { text: 'Authorized Email', value: 'aut_email' },
      { text: 'Certified Date/Time', value: 'certified_datetime' },
      { text: 'Fulltime Enrollment', value: 'full_time_students' },
      { text: 'NSLP Count', value: 'total_eligible_nslp_students' },
      { text: 'NSLP Percentage', value: 'nslp_percentage' },
      { text: 'Urban/ Rural Status', value: 'is_urban' },
      { text: 'Category One Discount Rate', value: 'c1_discount' },
      { text: 'Category Two Discount Rate', value: 'c2_discount' },
      { text: 'Voice Discount Rate', value: 'c1_voice_discount' },
      { text: 'Total Funding Year Pre-Discount Eligible Amount', value: 'pre_discount_eligible_amount' },
      { text: 'Total Funding Commitment Request Amount', value: 'funding_request_amount' },
      { text: 'Total Applicant Non-Discount Share', value: 'non_discount_share' },
      { text: 'Funds from Service Provider', value: 'receiving_funds_directly' },
      { text: 'Service Provider Filed by Billed Entity', value: 'has_service_provider_listed' },
      { text: 'Last Updated Date/Time', value: 'last_modified_timestamp' },
      { text: 'Latitude', value: 'latitude' },
      { text: 'Longitude', value: 'longitude' },
      { text: 'Congressional District ', value: 'congressional_district' }
    ]
  }),
  async created () {
    axios.get('https://opendata.usac.org/resource/7nws-3i6r.json?epc_organization_id=' + this.ben)
    .then(res => {
      this.items = res.data
    })
    .catch(err => {
      console.log(err)
    })
  }
}
</script>