<template>
<v-container>
      <v-card>
    <v-card-title>
      Form 470: Basic Info
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="items"
      :search="search"
    >
      <template slot="items" slot-scope="props">
        <td class="text-xs-right">{{ props.item.funding_year }}</td>
        <td class="text-xs-right">{{ props.item.certified_by }}</td>
        <td class="text-xs-right">{{ props.item.ben }}</td>
        <td class="text-xs-right">{{ props.item.organizational_status }}</td>
        <td class="text-xs-right">{{ props.item.contact_name }}</td>
        <td class="text-xs-right"><v-btn icon slot="activator" :href="props.item.f470_number"><v-icon>cloud_download</v-icon></v-btn></td>
      </template>
      <v-alert slot="no-results" :value="true" color="error" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
    </v-data-table>
  </v-card>
  </v-container>
</template>

<script>
import axios from 'axios'

export default {
  props: ['ben'],
  data: () => ({
    items: [],
    search: '',
    headers: [
      { text: 'Year', value: 'year' },
      { text: 'Cert By', value: 'certified_by' },
      { text: 'BEN', value: 'ben' },
      { text: 'Status', value: 'organizational_status' },
      { text: 'Contact', value: 'contact_name' },
      { text: 'Link', value: 'f470_number' }
    ]
  }),
  async created () {
    console.log(this.$route.params.id)
    axios.get('https://opendata.usac.org/resource/hk7j-i6j5.json?ben=' + this.ben)
    .then(res => {
      this.items = res.data
    })
    .catch(err => {
      console.log(err)
    })
  }
}
</script>