<template>
  <v-app>
    <v-system-bar
      color="primary"
      dark
    >
      <span>Mississippi Department of Education</span>
    </v-system-bar>
    <v-toolbar
    color="blue accent-2"
    prominent
    tabs
    class="white--text"
  >
    <v-toolbar-side-icon dark></v-toolbar-side-icon>
    <v-toolbar-title class="title mr-4">Erate Explorer</v-toolbar-title>
    <v-autocomplete
      v-model="model"
      :items="items"
      :loading="isLoading"
      :search-input.sync="search"
      chips
      clearable
      hide-details
      hide-selected
      item-text="epc_organization_id"
      item-value="symbol"
      label="Start here..."
      solo
    >
      <template slot="no-data">
        <v-list-tile>
          <v-list-tile-title>
            Search for your state, BEN or
            <strong>whatever</strong>
          </v-list-tile-title>
        </v-list-tile>
      </template>
      <template
        slot="selection"
        slot-scope="{ item, selected }"
      >
        <v-chip
          :selected="selected"
          color="amber"
        >
          <span v-text="item.organization_name"></span>
        </v-chip>
      </template>
      <template
        slot="item"
        slot-scope="{ item, tile }"
      >
        <v-list-tile-avatar
          color="indigo"
          class="title font-weight-bold white--text"
        >
          {{ item.org_state }}
        </v-list-tile-avatar>
        <v-list-tile-content>
          <v-list-tile-title v-text="item.epc_organization_id"></v-list-tile-title>
          <v-list-tile-sub-title v-text="item.organization_name"></v-list-tile-sub-title>
        </v-list-tile-content>
        <v-list-tile-action>
          <v-icon>mdi-coin</v-icon>
        </v-list-tile-action>
      </template>
    </v-autocomplete>
    <v-tabs
      v-model="tabs"
      slot="extension"
      :hide-slider="!model"
      color="transparent"
      slider-color="blue-grey"
    >
      <v-tab :disabled="!model" href="#tab-1" class="white--text">Form 471</v-tab> <!-- href="#471" -->
      <v-tab :disabled="!model" href="#tab-2" class="white--text">Form 486</v-tab> <!-- href="#486" -->
      <v-tab :disabled="!model" href="#tab-3" class="white--text">Form 470</v-tab> <!-- href="#470" -->
    </v-tabs>
  </v-toolbar>

  <section>
    <v-container fluid>
      <v-tabs-items v-model="tabs">
      <v-tab-item id="tab-1">
        <v-card flat>
          <form471 :ben="model" />
        </v-card>
      </v-tab-item>
      <v-tab-item id="tab-2">
        <v-card flat>
          <v-card-text>486</v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item id="tab-3">
          <form470 :ben="model" />
      </v-tab-item>
  </v-tabs-items>
    </v-container>
  </section>
  </v-app>
</template>

<script>
import axios from 'axios'
import Form470 from '@/components/Form470.vue'
import Form471 from '@/components/Form471.vue'
import Form486 from '@/components/Form486.vue'

export default {
  components: {
    Form470,
    Form471,
    Form486
  },
  data: () => ({
    isLoading: false,
    items: [],
    model: null,
    tabs: null,
    search: null
  }),

  watch: {
    search (val) {
      // Items have already been loaded
      if (this.items.length > 0) return
      this.isLoading = true
      // Lazily load input items
      axios.get('https://opendata.usac.org/resource/7nws-3i6r.json')
        .then(res => {
          this.items = res.data
        })
        .catch(err => {
          console.log(err)
        })
        .finally(() => (this.isLoading = false))
      console.log(this.model)
    }
  }
}
</script>
